<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
<link rel="stylesheet" href="/academicons/css/academicons.css"/>

<li>
  <a href="https://www.researchgate.net/profile/Jory_Fleming">
    <i class="ai ai-researchgate" aria-hidden="true"></i> Research Gate
  </a>
</li>

<li>
  <a href="https://scholar.google.com/citations?user=FAiWaKQAAAAJ&hl=en&oi=ao">
    <i class="ai ai-google-scholar" aria-hidden="true"></i> Google Scholar
  </a>
</li>

<li>
  <a href="http://orcid.org/0000-0001-5398-4232">
    <i class="ai ai-orcid" aria-hidden="true"></i> Orc ID
  </a>
</li>
